/*==================================== RESET STYLES ====================================*/
/*==================================== RESET STYLES ====================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== FONTS ====================================*/
/*==================================== FONTS ====================================*/
html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #474747;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

svg,
main {
  width: 400px;
  height: 200px;
  position: relative;
}

.main {
  width: 100%;
  height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  width: 400px;
  height: 200px;
}

svg {
  position: absolute;
}

path {
  stroke: #d8d8dd;
  stroke-width: 2px;
}

.mover {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(32, 233, 243, 0.3019607843);
  border: 2px solid hsl(183, 100%, 54%);
  border-right-color: hsl(43, 100%, 50%);
  border-left-color: hsl(343, 100%, 50%);
  color: #fff;
  font-size: 40px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  offset-path: path("M50,50 C50,200 120,0 220,100 S 400,150 350,0");
  offset-rotate: auto 90deg;
  offset-anchor: 50% 50%;
  -webkit-animation: move-along 5s 0ms infinite forwards ease-in-out;
          animation: move-along 5s 0ms infinite forwards ease-in-out;
}

.mover.anchor {
  background: red;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  offset-anchor: center center;
}

@-webkit-keyframes move-along {
  100% {
    offset-distance: 100%;
  }
}

@keyframes move-along {
  100% {
    offset-distance: 100%;
  }
}
/*
@supports (offset-position: 70% 70%) {
  #position {
    display: block;
  }
}
*/